@media screen and (max-width: 400px) {
      .navbar{
        display: flex;
        width: 100%;
        gap: 50px;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
      }
      .navbar h2{
        font-size: 20px;
        text-align: start;
      }
      .navbar ul li a{
        font-size: 20px;
        width: 100%;
      }
      .main {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center !important;
        align-items: center !important;
      }
      .main h4{
        font-size: 30px;
      }
      .main p{
        font-size: 21px !important;
        text-align: center;
      }
      .guarantee{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 10px;
      }
      .about{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 30px 10px;
        justify-content: center !important;
        align-items: center !important;
      }
      .about .info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .about .info p{
        text-align: center;
        font-size: 21px;
      }
      .skills {
        display: flex;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important;
        width: 100%;
      }
      .skills .left{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .skills .left h3{
        font-size: 20px !important;
        width: 300px;
      }
      .skills .left p{
        width: 300px;
      }
      .skills .left .hire-btn {
        margin: 20px 0;
      }
      .skills .right{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: -50px;
      }
      footer .start{
        display: flex;
        flex-direction: column;
        height: 170px;
        justify-content: center;
        align-items: center;
      }
      footer .start p{
        width: 250px;
        text-align: center;
      }
      footer .start button{
        margin: 10px 0;
      }
      .cols{
        display: flex;
        flex-direction: column;
        width: 100%;
      }
      .cols .about-col{
        display: flex;
        width: 100%;
        text-align: start;
        flex-direction: column;
      }
      footer .cols .news-col form input{
        outline: none;
        color: white;
      }
}